/* general styling */

:root {  
  --mainheading: #eda;
  --newqoutelight: #fff;
  --newquotedark: #000;  
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: url(./images/background-image-1.jpg) no-repeat center center/cover;
  /* optional: play around rgba for darker efffects */
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 70%;
  background-color: transparent;
}

/* first idea was to use bootstrap grid,
 but for simple layout like this that would overkill 
*/

h1 {  
  margin: 0.5rem auto 1rem auto;
  font-size: 1.8rem;
  letter-spacing: 0.11rem;
  word-spacing: 0.33rem;
  color: var(--mainheading);
}

p, .btn-container {
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.colored-container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 6px;
}

#text {
  font-size: 1.15rem;
  letter-spacing: 0.06rem;
  word-spacing: 0.1rem;
  line-height: 1.3;
  padding: 25px 15px 0px 15px;
}

#author {
  font-size: 1.53rem;
  letter-spacing: 0.08rem;
  font-style: italic;  
}

#new-quote {
  color: var(--newquotedark);
  background-color: var(--newqoutelight);  
}

/* animations */

p, .colored-container, #new-quote {
  transition: .5s;
}

#new-quote:hover {
  color: var(--newqoutelight);
  background-color: var(--newquotedark);
}

/* somehow it's just fine, but refactor it */
#new-quote:active {
  font-size: 30px;  
}